<!-- <div class="row">
  <div class="col-md-12">
    <button (click)="onAdd()" className='addbook' class="btn btn-success">Add Books</button><br><br><br>
    <button (click)="onViewBook()" class="btn btn-success">View Books</button><br><br><br>
    <button (click)="onAddStudnet()" class="btn btn-success">Add Students</button><br><br><br>
    <button (click)="onViewStudent()" class="btn btn-success">View Students</button><br><br><br>
  </div>
</div> -->

<div class="col-md-4">
      <div class="col-md-4">
          <div class="form-group">
              <button (click)="onAdd()" className='addbook' class="btn btn-success">Add Books</button>
          </div>
      </div>
      <div class="col-md-4">
          <div class="form-group">
              <button (click)="onViewBook()" class="btn btn-success">View Books</button>
          </div>
      </div>
      <div class="col-md-4">
          <div class="form-group">
              <button (click)="onAddStudnet()" class="btn btn-success">Add Students</button>
          </div>
      </div>
      <div class="col-md-4">
          <div class="form-group">
              <button (click)="onViewStudent()" class="btn btn-success">View Students</button>
          </div>
      </div>
    </div>
 