<div class="container">
  <h1>Books</h1>

  <table class="table table-striped" style="margin-top: 30px;">
    <thead>
      <tr>
        <th>id</th>
        <th>Bookname</th>
        <th>Price</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let books of books">
        <td>{{books.id}}</td>
        <td>{{books.bookname}}</td>
        <td>{{books.price}}</td>
        <td>{{books.Author}}</td>
        <td>
          <button (click)="onDetails(books)" class="btn btn-success"><i class="glyphicon glyphicon-info-sign"></i></button>
          <button (click)="onDelete(books)" class="btn btn-danger" style="margin-left: 10px"><i class="glyphicon glyphicon-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- <app-student-list-by-admin></app-student-list-by-admin> -->