<div class="col-4">
    <div class="container">
        <h1>Add Books</h1>
      
        <div class="row" style="margin-top: 30px;">
          <div class="col-md-12">
            <div class="form-group">
              <label for="">bookname</label>
              <input [(ngModel)]="bookname" type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="">price</label>
              <input [(ngModel)]="price" type="text" class="form-control">
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="">Author</label>
              <input [(ngModel)]="Author" type="text" class="form-control">
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-12">
            <button (click)="onAdd()" class="btn btn-success">Add</button>
            <button (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px">Cancel</button>
          </div>
        </div>
      </div>

</div>


<app-add-students></app-add-students>