<!-- <div class="container">
  
  <h1>{{selectedBooks.id}}</h1>


  <div style="margin-top: 30px;"><strong>bookname: </strong> {{selectedBooks.bookname}}</div>
  <div><strong>price: </strong> {{selectedBooks.price}}</div>
  <div><strong>category: </strong> {{selectedBooks.category}}</div>
  <div><strong>author: </strong> {{selectedBooks.author}}</div>
  <div><strong>Email: </strong> {{selectedBooks.email}}</div>
  <div><strong>Password: </strong> {{selectedBooks.password}}</div>


</div> -->
<div class="container">
  <h1>{{selectedBooks}}</h1>

</div>